html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: left;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

/*article*/

article-body {
    font-size: 11pt;
}

@media screen and (max-width: 600px) {
    article-body {
        font-size: 16pt;
    }
}

/*footer*/

.copyright {
    margin-left: 20px;
    margin-right: 20px;
}

/*home page*/

.intro {
    /* transform: translateY(15vh); */
    text-align: center;
}

.intro > h1 {
    color: #212121;
    font-size: 2em;
    text-align: center;
}

.intro > h2 {
    color: #757575;
    font-size: 0.8em;
    text-align: center;
}

.intro > h4 {
    margin-top: 3em;
}

.intro > .profile {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
    font-weight: 700;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}

.youtubevideo {
    position: relative;
    width: 480px;
    height: 360px;
}

.youtubevideo .youtubeoverlay {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem;
    color: #FFF;
    display: block;
    font-family: FontAwesome;
    font-size: 72pt;
}

