<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
    {{ .Hugo.Generator }}
    <meta charset="utf-8">
    <meta name="X-Frame-Options" content="DENY">
    {{ if (eq .Params.noindex true) }}<meta name="robots" content="noindex,nofollow">{{ end }}
    <meta name="referrer" content="same-origin">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=4, user-scalable=yes">
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Description }}
      <meta name="description" content="{{ . }}">
    {{ else }}
      <meta name="description" content="{{ .Site.Params.site_description }}">
    {{ end }}
    {{ with .RSSLink }}
      <link href="{{ . }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
      <link href="{{ . }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}"/>
    <link rel="icon" href="{{ "favicon.ico" | absURL }}">
    <link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | absURL }}"/>
    <link rel="stylesheet" type="text/css" href="{{ "css/main.css" | absURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "css/fonts.css" | absURL }}">
    {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" type="text/css" href="{{ . | absURL }}">
    {{ end }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/google_news.html" . }}
    {{ template "_internal/schema.html" . }}
    {{ if .Params.disable_profile | and .Params.disable_widgets }}
    <style>
        .full-width {
            width: 100% !important;
        }
    </style>
    {{ end }}

    <!-- needs to be loaded first for following scripts -->
    <script type="text/javascript" src="{{ "js/jquery.min.js" | absURL}}"></script>
    <!-- TEST -->
    <script type="text/javascript" src="{{ "js/script.js" | absURL}}"></script>
</head>
<body>

<div id="container">
  {{ partial "header" . }}
    
    <div class="outer">
    <section id="main">
      <section>
        <div style="margin-top: 12pt;">
          <form action="{{ "search" | absURL }}">
            <label for="search-query">Suchtext</label>
            <input id="search-query" name="s"/>
          </form>
          <div id="search-results" style="margin-top: 12pt;">
           <h2 style="font-size: 1.5em; font-weight: 700;">Suchergebnisse</h2>
          </div>
        </div>
      </section>
      <!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
      <script id="search-result-template" type="text/x-js-template">
          <div id="summary-${key}" style="margin-bottom: 12pt;">
            <h4 style="font-site: 1.2em; margin-top: 0.25em;"><a href="${link}">${title}</a></h4>
            <p>${snippet}</p>
            ${ isset tags }<p>${tags}</p>${ end }
          </div>
      </script>
    </section>
  </div>
</div>

<!-- jquery.min.js already loaded in partial "head.html" -->
<script src="{{ "js/fuse.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.mark.min.js" | absURL }}"></script>
<script src="{{ "js/search.js" | absURL }}"></script>

{{ partial "footer" . }}


</body>
</html>
