{{ partial "header" . }}

<main>

    <div class="item">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{- if eq .Type "post" -}}
            {{- .Date.Format "02.01.2006" -}} &nbsp;&nbsp;
            {{- range .Params.tags -}}
                <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a> &nbsp;
            {{- end -}}
        {{ end }}
    </div>

    <div class="article-body">{{ .Content }}</div>

    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}

        <h4 class="page-header">Related</h4>

        {{ range $related }} {{ partial "list-item" . }} {{ end }}

    {{ end }}
</main>

{{ partial "footer.html" . }}
