<!-- set font options according to config.toml -->
<style>
    html body {
        font-family: '{{ .Site.Params.font }}', sans-serif;
        background-color: {{ .Site.Params.backgroundColor | default "white" }};
    }

    :root {
        --accent: {{ .Site.Params.accent | default "#2196F3" }};
        --border-width: {{ if .Site.Params.showBorder | default false }} 5px {{ else }} 0 {{ end }};
    }
</style>

<!-- main -->
<link rel="stylesheet" href="{{ "css/main.css" | absURL }}">

<!-- include optional custom css files by iterating thru the array -->
{{ range .Site.Params.css }} <link rel="stylesheet" href="{{ . | absURL }}"> {{ end }}

<!-- fonts -->
<link rel="stylesheet" href="{{ "css/fonts.css" | absURL }}">

<!-- bootstrap 3.3.7 -->
<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absURL }}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- font awesome -->
<link rel="stylesheet" href="{{ "css/font-awesome.min.css" | absURL }}">
