    <footer>
	    <div id="footer-info">
	      <p class="copyright text-muted">
	      {{ print "Powered by [Hugo](https://gohugo.io) | " | markdownify }}
	      {{ if isset .Params "license" }}
	    	{{ with .Params.license }}{{ . | markdownify}}{{ end }}
	      {{ else }}
	    	{{ with .Site.Params.copyright }}{{ . | markdownify}}{{ end }}
	      {{ end }}
	  	  </p>
	    </div>
	</footer>
    {{ partial "js_footer" . }}
</body>
</html>
