<!-- custom -->
{{ range .Site.Params.js_header }} <script src="{{ . | absURL }}"></script> {{ end }}

<!-- jquery -->
<script src="{{ "/js/jquery.min.js" | absURL }}"></script>

<!-- bootstrap -->
<script src="{{ "/js/bootstrap.min.js" | absURL }}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- dismiss expanded navigation bar with click -->
<script>$(document).on('click', function() { $('.collapse').collapse('hide'); })</script>
