<div class="item">

    {{ $.Scratch.Set "link" .RelPermalink }}
    {{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}

    {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subtitle" }}
    {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}

    <h4><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h4>
    <h5>{{ $.Scratch.Get "subtitle" }}</h5>
    {{ range .Params.tags }}
    <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
    {{ end }}

</div>
