{{ partial "header" . }}

<main>
    <div class="intro">
        {{ with .Site.Params.profilePic }}<img class="profile" src="{{ . }}">{{ end }}

        <h1>{{ .Site.Title }}</h1>
        <h2>{{ markdownify .Site.Params.Description }}</h2>

        <h4>Die letzten drei Einträge</h4>
	    {{ range first 3 .Data.Pages.ByDate.Reverse }}
	    	{{ if eq .Type "post" }}<p style="text-align: center;">
	        	<a href="{{ .RelPermalink }}">{{ .Title }}</a> {{ .Date.Format "02.01.2006" }}
	        </p>{{ end }}
	    {{ end }}
    </div>
</main>
    <footer>
        <p class="copyright text-muted">{{ .Site.Params.copyright | default "&copy; All rights reserved. Powered by [Hugo](https://gohugo.io) and [Minimal](https://github.com/calintat/minimal)" | markdownify }}</p>
    </footer>
</body>
</html>
